:root{
   --color-primary-rdr: #0056b3;
   --color-secondary-rdr: #ff9800;
   --color-terciary-rdr: #00d3e4;
   --color-quartenary-rdr: #04062f;
   --color-font-padrao: #fff;
   --shadow: 3px 0 4px 4px #000000 ;
}