.conteudo{
    height: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 70vh;
}

.main img{
    max-width: 100%;
}
.main ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    color: var(--color-terciary-rdr);
    font-size: 2.5em;
    justify-content: center;
}


.main li::before{
    display: inline-block;
    content: "";
    background-color: var(--color-secondary-rdr);
    box-sizing: content-box;
    border-radius: 50%;
    padding: 8px;
    margin: auto;
    margin-right: 8px;
    position: relative;
    bottom: 4px;
}